body {
  font-family: 'Raleway', sans-serif;
  padding-top: 70px;
}

.navvy {
  /* background-image: url("../static/grapes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  background-color: RGBA(13, 70, 83, 0.78);
  min-height: 70px;
}

.grapes {
  background-image: url("../static/grapes.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  background-position: center center;
  min-height: 1450px
}

.big-icons {
  font-size: 90px;
  color: RGBA(13, 70, 83);
}

.end-network {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.limit {
  float: right;
  font-family: 'Bangers', cursive;
  font-size: 25px
}

.category-title {
  font-family: 'Bangers';
  color: black;
  text-align: left;
  font-size: 25px;
  float: left
}
.card-head {
  height: 40px;
}

.img-logo {
  width: 30px;
}

.header {
  max-width: 100%;
  height: auto
}

ul{
  margin:0;
  padding:0;
  list-style:none;
}