.logo {
  font-family: 'Bangers', cursive;
}

.img-logo {
  width: 30px;
}

.header {
  max-width: 100%;
  height: auto
}

ul{
  margin:0;
  padding:0;
  list-style:none;
}

.card {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}